* {
    padding: 0px;
    margin: 0px;
}

.encabezado {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0px;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0.5rem 1rem, rgba(255, 255, 255, 0.15) 0px -1px 0px inset;
    z-index: 1000;
   
}

.slider-container li {
    text-align: center;
}

.contenedor-img {
    margin: 15px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 65px;
}

.imagen-menu {
    padding: 10px;
    width: 32px;
}

.contenedor-menu {
    margin-left: 10px;
    display: flex;
}

.imagen-menu:hover {
    cursor: pointer;
}

.lateral-menu {
    background-color: rgb(0, 239, 212);
    font-weight: 700;
    position: absolute;
    top: 0px;
    left: -400px;
    margin-top: 80px;
    height: 400px;
    width: 300px;
    transition: all 0.5s ease 0s;
    z-index: 10;
    opacity: 0.9;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0.15rem 1rem, rgba(255, 255, 255, 0.15) 0px -1px 0px inset;
}

.contenedor-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-links-ul-li {
    list-style: none;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.contenedor-links-ul-li:hover {
    background-color: rgb(153, 255, 243);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0.5rem 1rem, rgba(255, 255, 255, 0.15) 0px -1px 0px inset;
}

.contenedor-links-ul-li-a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    padding: 20px;
    display: block;
    color: black;
}

body {
    font-family: 'Montserrat', sans-serif;
}


#proyecto {
    height: auto;
}

.container-proyecto {
    width: 100%;
    height: auto;
    background-color: rgb(212, 255, 0);
    /* height: 45vh;
    margin: 0px auto;
    flex-flow: column wrap;
    align-content: center; */
}

.container-texto-proyecto-1 {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:  url("/Imagenes/Banner.jpg");
    border-bottom: 3px solid  rgb(97, 49, 138);
}

/* .container-texto-proyecto-2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;


} */

.texto {
    color: #eee;
    font-size: 2.5rem;
    width: 80%;
    margin: 0 auto;
    list-style: 3px;
}

.container-texto-proyecto-2 {
    background: rgb(212, 255, 0);
    height: 35vh;
    justify-content: center; 
    display: flex;
    align-items: center;
    border-bottom: 3px solid  rgb(97, 49, 138);
}

.texto-pacto-2{
    text-align: left;
    font-family: Montserrat, sans-serif;
    color:  rgb(97, 49, 138);
    padding: 50px;
    font-size: 3.7vh;
    font-weight: 300;
}

.container-pacto {
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.container-img {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: black;
}

.container-img img:hover {
    transition: all 1.5s ease 0s;
    background-color: black;
    opacity: 0.55;
}

.container-img img {
    width: 100%;
    height: auto;
}

.texto-pacto {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}

.texto-pacto h2 {
    text-shadow: rgb(97, 49, 138) 2px 2px;
    color: white;
    font-size: 2.5rem;
}

.button-firma-ya {
    background-color: rgb(212, 255, 0);
    display: flex;
    font-size: x-large;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin: 50px;
    flex-wrap: nowrap;
    padding: 7px 90px;
}


@media (max-width: 1684px) {

        .contenedor-mosaico{
            display: none;
    } 
}

@media (max-width: 1200px) {
    .button-firma-ya {
        font-size: medium;
        padding: 16px 45px;
    }
    .container-texto-proyecto-1 {
        height: auto;
    }
    .texto{
        font-size: 2.9rem;
        margin: 25px;
    }

    .texto-pacto h2 {
        font-size: 1.7rem;
    }
    
    .container-texto-proyecto-2 {
        height: auto;
        align-items:inherit;
    }

    .texto-infografia p{
        font-size: 2.3rem;
     }
}

 
@media (max-width: 768px) {
    
    body{
        overflow-x: hidden;
    }
    .container-texto-proyecto-1{
        height: auto;
    }

    .container-texto-proyecto-2{
        height: auto;
    }
    .texto-pacto h2 {
        font-size: 1.7rem;
    }
    .texto{
        font-size: 2.7rem;
        margin: 25px;

    }

   .contenedor-img img{
    height: 54px;
    }
} 

@media (max-width: 576px) {
    
    .container-texto-proyecto-1{
        height: auto;
    }

    .container-texto-proyecto-2{
        height: auto;
    }
    .texto{
        font-size: 2.6rem;
        margin: 25px;
    }
    .texto-pacto h2 {
        font-size: 1.7rem;
    }
    .contenedor-img img{
        height: 54px;
        }
}

@media (max-width: 528px) {
    
    .container-texto-proyecto-1{
        height: auto;
       
    }

    .container-texto-proyecto-2{
        height: auto;
        
    }
    .texto{
        font-size: 2.4rem;
        margin: 25px;
    }
}
@media (max-width: 446px) {
    .texto-pacto h2 {
        font-size: 1rem;
    }
    .container-texto-proyecto-1{
        height: auto;
        
    }

    .container-texto-proyecto-2{
        height: auto;
       
    }
    .texto{
        font-size: 2.2rem;
        margin: 25px;
    }
    .contenedor-img img{
        height: 54px;
        }
}
.button-firma-ya:hover {
    background-color: rgb(94, 223, 255);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 1000;
    padding: 6px 3px;
}

.texto-pacto-dei {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(97, 49, 138);
    width: 100%;
}

.texto-pacto-dei p {
    padding: 20px;
    font-family: Montserrat, sans-serif;
    margin: 30px 50px;
    color: rgb(221, 235, 0);
    font-size: 3.7vh;
}


#infografia{
margin: 0px;
padding: 40px 0;

}

.texto-infografia{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 70px;
}

.texto-infografia p{

    font-family: Montserrat, sans-serif;
    font-size: 2.3rem;
    padding: 30px 62px;
    color: rgb(97, 49, 138);
}

.container-infografia{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenedor-mosaico{

}

.swiffy-slider {
    margin: auto 0;
    width: 700px;
}

.slider-container li img{
    max-width: 100%;
    max-height: 86vh;
}


@media screen and (max-width: 576px) {
    .swiffy-slider {
        width: auto;
    }
}

footer {
    background-color: rgb(97, 49, 138);
    width: 100%;
    height: 248px;
}

.contenedor-footer {
    display: flex;
    height: 222px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor-contacto {
    font-size: 11px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 15px;
}

.contenedor-contacto h1 {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.contenedor-rrss {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-rrss img {
    width: 32px;
    height: auto;
}

.email {
    font-family: Montserrat, sans-serif;
    color: rgb(221, 235, 0);
    text-decoration: none;
    font-size: 18px;
    transition: all 0.5s ease 0s;
    padding: 10px;
}

.web-mep {
    font-family: Montserrat, sans-serif;
    color: rgb(221, 235, 0);
    text-decoration: none;
    font-size: 18px;
    transition: all 0.5s ease 0s;
    padding: 10px;
}

.web-mep:hover {
    color: rgb(94, 223, 255);
}

.email:hover {
    color: rgb(94, 223, 255);
}

