* {
    padding: 0;
    margin: 0;
}

/* #573486 (violeta más claro)
#201d4d (azul marino oscuro) */

.encabezado {
    background: #61318A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    z-index: 10;
    top: 0;
}


.contenedor-img {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center
}

.logo {
    width: 200px;
}

.imagen-menu {
    padding: 10px;
    width: 32px;
}

.imagen-menu:hover{
    cursor: pointer;
}

.lateral-menu {
    background-color: #00EFD4;
    font-weight: 700;
    position: absolute;
    left: -400px;
    height: 500px;
    width: 300px;
    transition: all 2s;
    z-index: 10;
    opacity: 0.9;
}

.contenedor-links {
    display: flex;
    flex-direction: column;
    align-items: center
}

.contenedor-links-ul-li {
    list-style: none;
    padding: 10px;
    text-align: center;
}

.contenedor-links-ul-li-a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    padding: 20px;
    display: block;
    color: black;
}

body {
    font-family: Arial, sans-serif;  
}

.container-pacto{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 3px #D4FF00 solid;
    position: relative;
    justify-content: space-between;
}

.container-img{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: black;
}


.container-img img:hover{

transition: all 1.5s ease;
background-color: black;
opacity: 0.55;

}

.container-img img{
    width: 100%;
    height: auto;
   
}

.texto-pacto {
    position: absolute;
    bottom: 0; 
    left: 0; 
    color: #fff;
    padding: 10px;
    text-align: center;
    
}

.texto-pacto h2{
    text-shadow: 2px 2px #6B7DDD;
    color: white;
    font-size: 2.5rem;
}

.button-firma-ya{
    background-color: #D4FF00;
    display: flex;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: nowrap;
    padding: 26px 90px;
}

@media (max-width: 768px){
    .button-firma-ya{
        font-size: medium;
        padding: 16px 45px;
    }

    .texto-pacto h2 {
        font-size: 2rem;
    }
}
    
@media (max-width: 576px){
    .texto-pacto h2 {
        font-size: 1.5rem;
    }
   
}


.button-firma-ya:hover{

background-color: #5edfff;
cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 1000;
    padding: 6px 0;
}

footer{
    background-color: #61318A;
    width: 100%;
    height: 200px;
}

.contenedor-footer{
    display: flex;
    height: 200px;
    align-items: center;
    
}

.contenedor-contacto{
    font-size: 10px;
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    
}

.contenedor-contacto h1, .contenedor-contacto h2 {

    font-family: 'Montserrat', sans-serif;

   
  
}

.contenedor-rrss{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.icons-rrss img{
    width: 32px;
    height: auto;
}

.email{
    font-family: 'Montserrat', sans-serif;
    color: #DDEB00 ;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.5s ease;
    padding: 10px;
  

}
.email:hover{
   
   opacity: 0.70;

}




